table,
tr,
td,
th {
    border: 1px solid black;

    /* sarok kerekítése */
    /* border-radius: 12px;*/
}


table.sakktabla {
  border-collapse: collapse;
}

table.sakktabla td {
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

/* Szélső oszlopok (sorszámok) keskenyebbek */
table.sakktabla tr td:first-child,
table.sakktabla tr td:last-child {
  width: 30px;
  background-color: #ddd;
  font-weight: bold;
}

/* Legfelső és legalsó sor (oszlopjelölés) alacsonyabb */
table.sakktabla tr.felso-also td {
  height: 30px;
  background-color: #ddd;
  font-weight: bold;
}

/* Sakktábla színezés 
table.sakktabla tr:nth-child(n+2):nth-child(-n+9) td:nth-child(n+2):nth-child(-n+9) {
  background-color: white; /* alap világos 
}

table.sakktabla tr:nth-child(odd):nth-child(n+2):nth-child(-n+9) td:nth-child(odd):nth-child(n+2):nth-child(-n+9),
table.sakktabla tr:nth-child(even):nth-child(n+2):nth-child(-n+9) td:nth-child(even):nth-child(n+2):nth-child(-n+9) {
  background-color: black; /* sötét mezők 
} */


/* Sakktábla színezés */
/* Először a 8x8-as rész minden elemét sötétre színezem */
table.sakktabla tr:nth-child(n+2):nth-child(-n+9) td:nth-child(n+2):nth-child(-n+9) {
 /*  background-color: white; alap világos */
  background-color: #c59e7e; /* sötét mezők */
}

/* Világosra színezés */
/* a 2. és 9. sor között:*/
/* minden páratlan sor páratlan cellájának kijelölése*/
table.sakktabla 
  tr:nth-child(odd):nth-child(n+2):nth-child(-n+9) 
  td:nth-child(odd):nth-child(n+2):nth-child(-n+9),
/* minden páros sor páros cellájának kijelölése*/
table.sakktabla 
  tr:nth-child(even):nth-child(n+2):nth-child(-n+9) 
  td:nth-child(even):nth-child(n+2):nth-child(-n+9) {
/*  background-color: black;  sötét mezők  */
  background-color: #ecd7b5; /* alap világos */
} 

img{
  /* width: 100%; */
  /* height: 100%; */
  max-height: 50px;
  max-width: 50px;
  margin: auto;
  /* margin-top: 2rem; */
}

body{
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  /* padding: 2rem; */
  align-items: center;
}